<ion-view title="Nhóm">
  <ion-content>
      <div ng-show="groups.length == 0" class="card no-result">
            <div class="item item-text-wrap">
                {{$root.getLocaleText('Common.NoResultMessage')}}
            </div>
        </div>
      <ion-list>
          <div ng-repeat="group in groups">
              <ion-item class="item item-divider">
                  {{group.name}}
              </ion-item>
              <ion-item type="" ng-href="{{location.absUrl()}}/members/{{group.id}}">
                  <h2>Thành viên</h2>
                  <span class="badge badge-balanced">{{group.Members|number}}</span>
              </ion-item>
              <div ng-repeat="task in group.Tasks" ng-show="{{task.hasValue}}">
                  <ion-item ng-href="{{location.absUrl()}}/tasks/{{group.id}}/{{task.type}}">
                      <h2>{{task.title}}</h2>
                      <span class="badge badge-{{task.css}}">{{task.total}}</span>
                  </ion-item>
              </div>
          </div>
      </ion-list>
 </ion-content>
</ion-view>
