<ion-view title="{{$root.loginName}}">
    <ion-content>
        <ion-list>
            <div class="item item-divider">
                Thông báo
            </div>
            <ion-item ng-repeat="alert in summaryData.Alerts"
                        class=""
                        ng-href="{{location.absUrl()}}/alerts/{{alert.days}}">
                <h2>{{alert.title}}</h2>
                <span class="badge badge-{{alert.css}}">{{alert.total|number}}</span>
            </ion-item>

            <div class="item item-divider">
                Công việc
            </div>
            <ion-item ng-repeat="task in summaryData.Tasks"
                        ng-show="task.total > 0"
                        class=""
                        ng-href="{{location.absUrl()}}/tasks/{{task.type}}">

                <h2>{{task.title}}</h2>
                <span  class="badge badge-{{task.css}}">{{task.total| number}}</span>
            </ion-item>

            <div class="item item-divider">
                Sự kiện
            </div>
            <ion-item ng-repeat="event in summaryData.Events" class=""
                        ng-href="{{location.absUrl()}}/events/{{event.days}}">
                <h2>{{event.title}}</h2>
                <span class="badge badge-{{event.css}}">{{event.total|number}}</span>
            </ion-item>

            <div class="item item-divider">
                Nhóm
            </div>
            <ion-item ng-repeat="group in summaryData.Groups" class="item-icon-right"
                        ng-href="{{location.absUrl()}}/group/{{group.Id}}">
                <h2>{{group.Name}}</h2>
                <p>Thành viên: {{group.Members|number}}</p>
                <p class="badge-line">{{$root.getLocaleText('Task.OpeningStatus.Title')}}: <span class="badge badge-energized">{{group.TasksInProgress}}</span> - {{$root.getLocaleText('Task.OverdueStatus.Title')}}: <span class="badge badge-assertive">{{group.TasksOverdue}}</span></p>
                <i class="icon ion-ios7-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
